<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="externalAPI" type="ConfigApp.ExternalAPIConfigurationSection, ConfigApp" />
	</configSections>
	<externalAPI>
		<limits>
			<limit name="APIGroupsLimit" value="30" />
			<limit name="APIUsersLimit" value="30" />
			<limit name="APILinksLimit" value="30" />
			<limit name="APIParticipantsLimit" value="30" />
			<limit name="APISyncpointsPerCompanyLimit" value="60" />
			<limit name="APISyncpointsPerUserLimit" value="30" />
			<limit name="APIReportsLimit" value="20" />
			<limit name="APIReportDateRangeLimitInDays" value="10" />
			<limit name="APIPolicySetsLimit" value="45" />
			<limit name="APIGroupMembersLimit" value="30" />
			<!-- SyncPoints, Groups, Links, Participans and Users -->
			<limit name="APIRequestEntriesLimit1" value="30" />
			<!-- Files and FolderFolders -->
			<limit name="APIRequestEntriesLimit2" value="60" />
		</limits>
		<limitusers limit="500">
			<limituser id="12345678"/>
		</limitusers>
	</externalAPI>
</configuration>